<!DOCTYPE html>
<html>
<head>
    <title>Login de Desenvolvedor</title>
    <link rel="stylesheet" type="text/css" href="/css/devs.css">    
</head>
<body>
    <div class="form-container dev-login-form">
        <h1 class="page-title">Login Desenvolvedor</h1>
        <form action="/dev/login" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
