<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Tela Inicial</title>
</head>
<body class="bdy_index">
    <div class="container_index">
        <div class="header">
            <img src="/images/logo_cz.png" alt="Sua Logo">
        </div>
        <div class="btn-class">
            <a href="/login" class="btn-index">Login</a>
            <a href="/register" class="btn-index">Cadastro</a>
        </div>
    </div>
</body>
</html>
